@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */
.header {
  height: 7vh;
  font-family: "Poppins", sans-serif;

  text-align: center;
  color: #fff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 25, 35, 0) 100%
  );
  z-index: 2;
}

/* CONTENT */
.content {
  height: 86vh;
  font-family: "Poppins", sans-serif;

  text-align: center;
  color: #fff;
  z-index: 2;
}

/* FOOTER */
.footer {
  height: 7vh;
  z-index: 2;
}

.footerLabel {
  font-family: "Poppins", sans-serif;
  font-size: 20px !important;
  color: #fff !important;
}

/* BACKGROUND */
.coverImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 60%;
  background: linear-gradient(180deg, #000000 0%, #0f1923 100%);
  z-index: 1;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* GALLERY */
.gallery {
  background-color: rgba(15, 25, 35, 0);
}

.galleryItem {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  /*   background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(15, 25, 35, 0.8) 100%
  ); */
}

.galleryImg {
  width: 180px;
  height: 240px;
  border-radius: 0;
  object-fit: cover;
}

.gallery label {
  background-color: rgba(15, 25, 35, 0) !important;
}
