@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */
.header {
  height: 6vh;
  z-index: 3;
}

.menu {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 20px;
  background: none;
}

/* CONTENT */
.content {
  display: flex;
  justify-content: center;
  max-height: 94vh;
  z-index: 3;
  overflow: hidden;
}

/* BACKGROUND */
.coverImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 60%;
  background: linear-gradient(180deg, #000000 0%, #0f1923 100%);
  z-index: 1;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.NT {
  position: fixed;
  top: 1%;
  left: 2%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff !important;
  z-index: 2;
}

/* GALLERY */
.gallery {
  background: none;
  width: 100%;
  max-height: 94vh;
  transform: scale(0.9);
  margin-top: -20px;
}

.card {
  background: none;
  border: none;
  text-align: center;
}

.poster {
  width: 100%;
  height: 300px;
}

.movieName {
  color: #fff;
  font-size: 14px;
}

.prevGalleryBtn,
.nextGalleryBtn {
  position: fixed;
  top: 50%;
  font-size: 40px;
  color: #ffcc00;
  background: none;
  border: none;
  cursor: pointer;
}

.prevGalleryBtn {
  left: 20px;
}

.nextGalleryBtn {
  right: 20px;
}

/* List */
.table {
  width: 90vw;
  margin-top: 20px;
}

.table .ant-table,
.table .ant-table-content,
.table .ant-table-container,
.table .ant-table-cell,
.table .ant-table-thead > tr > th {
  border: none !important;
}

.table .ant-table-thead > tr > th,
.table .ant-table-tbody > tr > td {
  background: #0f1923 100% !important;
  color: #fff;
}

.table .ant-table-thead > tr > th {
  background: #ffcc00 !important;
  color: #000000;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #0f1923;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcc00;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0f1923;
}

/* Mobile version */
@media only screen and (max-width: 600px) {
  .poster {
    width: 100px;
  }
}

@media only screen and (min-width: 600px) {
  .poster {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .poster {
    width: 75%;
  }
}
