@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER */
.header {
  height: 8vh;
  font-family: "Poppins", sans-serif;

  text-align: center;
  color: #fff;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 25, 35, 0) 100%
  );
  z-index: 2;
}

/* CONTENT */
.content {
  height: 87vh;
  font-family: "Poppins", sans-serif;
  text-align: center;
  z-index: 2;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* FOOTER */
.footer {
  height: 5vh;
  z-index: 2;
}

.footerLabel {
  font-family: "Poppins", sans-serif;
  font-size: 20px !important;
  color: #fff !important;
}

/* BACKGROUND */
.coverImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 60%;
  background: linear-gradient(180deg, #000000 0%, #0f1923 100%);
  z-index: 1;
}

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* GALLERY */
.gallery {
  background-color: rgba(15, 25, 35, 0);
  width: 95vw;
  height: 85vh;
  max-width: 100vw;
  max-height: 85vh;
  overflow: auto;
}

.carouselCard {
  background-color: rgba(15, 25, 35, 0);
  box-shadow: none !important;
}

.prevGalleryBtn,
.nextGalleryBtn {
  position: absolute;
  top: 44%;
  transform: translate(-50%);
  font-size: 40px;
  color: white;
  z-index: 1;
}

.prevGalleryBtn {
  left: 0;
}

.nextGalleryBtn {
  right: 0;
}

.card {
  width: 14% !important;
  color: #fff;
  box-shadow: none !important;
}

.poster {
  width: 100%;
  height: 90%;
  border-radius: 10px;
}
